<%= stylesheet_link_tag "nav.css" %>

<section class="design-process-section" id="process-tab">
  <div class="container">
    <div class="row">
      <div class> 
      <%= form_for @submit, url: {action: "create"} do |f| %>
        <ul class="nav nav-tabs process-model more-icon-preocess" role="tablist">
          <li role="presentation" class="active">
            <%= link_to("#type", data: {toggle: "tab"}, aria: {controls: "type"}, role: "tab") do %>
                <i class="fa fa-search" aria-hidden="true"></i>
                <p>분야 선택</p>
            <% end %>
            </li>
          <li role="presentation">
            <%= link_to("#smalltype", data: {toggle: "tab"}, aria: {controls: "smalltype"}, role: "tab") do %>
                <i class="fa fa-list-alt" aria-hidden="true"></i>
                <p>상세 분야</p>
            <% end %>
          </li>
          <li role="presentation"><a href="#guide" aria-controls="guide" role="tab" data-toggle="tab">
          <i class="fa fa-info" aria-hidden="true"></i>
            <p>가이드 확인</p>
            </a></li>
          <li role="presentation"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">
          <i class="fa fa-edit" aria-hidden="true"></i>
            <p>상세 정보 입력</p>
            </a></li>
          <li role="presentation"><a href="#complete" aria-controls="complete" role="tab" data-toggle="tab">
          <i class="fa fa-check" aria-hidden="true"></i>
            <p>등록 완료</p>
            </a></li>
        </ul>
        <!-- end design process steps--> 
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="type">
            <div class="design-process-content">
              <h3 class="semi-bold">분야 선택</h3>
              <div>
                <p>
                
                <%= f.label "분야를 선택해주세요:" %>
                <%= select_tag 'type_id', options_for_select(@types.collect { |type| [type.name.titleize, type.id] }, 1), { id: 'types_select' } %>
                
                </p>
               </div>
             </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="smalltype">
            <div class="design-process-content">
              <h3 class="semi-bold">세부 분야</h3>
                <p>
                    <%= f.label "세부 분야를 선택해주세요:" %>
                    
                    <% @smalltypes.each do |s| %>
                      <div id="<%= s.id %>" class="smalltypes <%= (s.type_id == Type.first.id) ? "" : "hidden" %>" typeid=<%= s.type_id %>>
                        <%= radio_button_tag 'smalltype_id', s.id %>
                        <label for="smalltype_id_<%=s.id%>"> <%= s.name %> </label>
                      </div>
                    <% end %>
                </p>
              </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="guide">
            <div class="design-process-content">
              <h3 class="semi-bold">가이드 확인</h3>
              <p>상세 정보 입력 전, 가이드를 확인하세요!</p>              
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="info">
            <div class="design-process-content">
              <h3 class="semi-bold">상세 정보 입력</h3>
                  <form>
                    <div class="row">
                    <div class="col-sm-9">
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">제목</label>
                      <div class="col-sm-10">
                        <%= text_field_tag :title, nil, class: "form-control", placeholder: "제목을 입력하세요" %>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">모집 마감일</label>
                      <div class="col-sm-10">
                        <%=  date_field_tag :duedate, nil, class: "form-control"%>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">단가</label>
                      <div class="col-sm-2">
                        <%=  number_field_tag :price, nil, class: "form-control form-price", placeholder: "단가" %>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">필요 기능</label>
                      <div class="col-sm-10">
                        <%= text_area_tag :content, nil, class: "form-control form-content", placeholder: "상세한 업무 내용, 참고 및 유의 사항" %>
                      </div>
                    </div> 
                    </div>
                    <div class="col-sm-3 " style="margin-top:12px" >
                        <div class="row informations">
                        <i class="fas fa-info-circle fa-lg data-container="body" data-toggle="popover" data-placement="right" data-content=" 어떤 일인지 쉽게 알 수 있는 제목을 정해주세요!"></i>
                        </div>
                        <div class="row information">
                        <i class="fas fa-info-circle fa-lg data-container="body" data-toggle="popover" data-placement="right" data-content=" 지원자를 모집하는 마감일은 언제인가요?"></i>
                        </div>
                        <div class="row information">
                        <i class="fas fa-info-circle fa-lg data-container="body" data-toggle="popover" data-placement="right" data-content=" 단가를 입력해주세요. 표준 단가: 000000원~000000원"></i>
                        </div>
                        <div class="row information">
                        <i class="fas fa-info-circle fa-lg data-container="body" data-toggle="popover" data-placement="right" data-content=" ※프로젝트의 현재 상황 Ex)기획, 디자인 가이드 여부, 컨텐츠 소스, PM여부, 진행계획 등  ※상세한 업무 내용  Ex) 작업분량(페이지 수), 필요조건 등 ※참고 / 유의 사항 "></i>
                        </div>
                    </div>
                    </div>
                  </form>

              
            </div>
          </div>
          
          <div role="tabpanel" class="tab-pane" id="complete">
            <div class="design-process-content">
              <h3>등록 완료</h3>
              <p>아래 버튼을 누르면 등록이 완료됩니다. 대딩 파트너를 기다려보세요! </p>

              <%= f.submit "대딩파트너와 만나러가기" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

