<h1>Mypage
<div class="container">
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                   
                </div>
                <div class="card-content">
                    <div class="card-title"><%= current_user.name %></div>
                    <p>이메일 : <%= current_user.email %></p>
                    <p>올린 글 개수 : <%= @submits_count %></p>

                </div>
            </div>
        </div>
        <div class="col s12 m8">
            <% @submits.each do |submit| %>
                <div class="card">
                    <div class="card-content">
                        <span class="card-title"><%= submit.user.name %></span>
                        <span><%= submit.created_at %></span>
                        <p><%= submit.title %></p>
                        <p><%= submit.content %></p>
                    </div>

                    <div class="card-action">
                        <a href="#">좋아요</a>
                        <a href="#">댓글 달기</a>
                    </div>
                    <% if current_user.id == submit.user.id %>
                        <%= link_to "삭제", submit_path(submit), method: "delete", class: "right" %>
                        <%= link_to "수정", edit_submit_path(submit), class: "right"%>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>